#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
}

main{
    max-width: 80%;
    margin: auto;
}

.Header-nav {
    display: flex;
    gap: 10px;
}

.Header-nav-link {
    text-decoration: none;
    font-size: 24px;
    color: black;
    border: 2px solid;
    padding: 4px 8px;
    transition: 0.3s;
}

.Header-nav-link:hover {
    transform: scale(1.05);
    color: white;
    background-color: black;
}
